label {
    display: block;
    margin: 1rem auto .75rem;
}

label input[type="text"],
label input[type="email"]
{
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    margin: 2rem;
}

form div {
    margin: 1.5rem 0 0;
}

textarea {
    display: block;
    margin: .2rem 0;
    width: 90%;
    padding: 1rem;
    font-family: --body-font;
    font-size: 1.1rem;
}