@media screen and (min-width:800px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: block;
        min-width: 500px;
        margin: 0 25px;
    }

    nav ul {
        flex-direction: row;
    }

    main {
        max-width: none;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    main h1 {
        grid-column: 1/-1;
    }

    /* Classes */

    /* Ids */

    #menu {
        display: none;
    }
}